---
layout: default
full_title: 堡利莱印刷机械
---
<div class="sright fr">
  <div class="sright_1">
    <div class="sright_about fl">
      <div class="sright_title">
        <div class="sright_name fl"><span class="title_cn">公司介绍</span><span class="title_en">About us</span></div>
        <div class="clearfix"></div>
      </div>
      <div class="sright_nr">
        <p><img alt="堡利莱印刷机械Logo" align="left" width="200" height="105" src="{{ site.url }}/images/assets/small-logo.png"></p>
        <p align="left">佛山市堡利莱机械设备有限公司是一家集印刷、涂布、复合、分切、复卷，模压等设备研制与应用，工艺和技术开发为一体的专业成套设备制造公司。产品主要包括食品软包装印刷、装饰材料印刷和胶粘制品加工设备，其中成套产品如包括高速干复机、涂布机、分条机、制袋机等 。堡利莱不仅努力开发具有国际水准的印刷成套设备，更注重提供系统的解决方案。</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  <div class="sright_2">
    <div class="sright_title">
      <div class="sright_name fl"><span class="title_cn">产品展示</span><span class="title_en">Service show</span></div>
      <div class="clearfix"></div>
    </div>
    <div class="sright_2_nr">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="173">
            <div id="demo" style="overflow:hidden;height:169px;width:730px;">
              <table width="124" height="159" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="650" height="159" valign="top" id="demo1">
                    <table width="650" height="173" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="650" height="173" valign="middle">
                          <table width="155" height="130" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="155" height="130" align="center" valign="middle" style="padding:0 6px;">
                                <table width="22%" height="152" border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="94%" height="105" colspan="2" align="center" valign="middle"style="border:1px solid #ccc;">
                                      <a href="{{ site.url }}/abysj/ya6800b-s.html">
                                        <img src="{{ site.url }}/images/products/ya6800b-s.jpg" alt="手动套色双头凹版印刷机" width="225" height="143" hspace="10" vspace="0" border="0"  title="手动套色双头凹版印刷机">
                                      </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td height="25" colspan="2" align="center" valign="middle" >手动套色双头凹版印刷机</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr></tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="10" valign="top" id="demo2"></td>
                </tr>
              </table>
            </div>
            <script>
              var speed2=25//速度数值越大速度越慢
              demo2.innerHTML=demo1.innerHTML
              function Marquee2(){
              if(demo2.offsetWidth-demo.scrollLeft<=0)
              demo.scrollLeft-=demo1.offsetWidth
              else{
              demo.scrollLeft++
              }
              }
              var MyMar2=setInterval(Marquee2,speed2)
              demo.onmouseover=function() {clearInterval(MyMar2)}
              demo.onmouseout=function() {MyMar2=setInterval(Marquee2,speed2)}
            </script>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="sright_3">
    <div class="sright_3_new1 fl">
      <div class="sright_title">
        <div class="sright_name fl"><span class="title_cn">行业资讯</span><span class="title_en">Industry News</span></div>
        <div class="clearfix"></div>
      </div>
      <ul class="sright_3_nr">{% for post in site.categories["industry-news"] limit:6 %}
        <li><a href="{{ site.url }}{{ post.url }}" class="fl">{{ post.title }}</a><span class="fr">[{{ post.date | date:"%Y-%m-%d" }}]</span></li>{% endfor %}
      </ul>
    </div>
    <div class="sright_3_new2 fr">
      <div class="sright_title">
        <div class="sright_name fl"><span class="title_cn">技术交流</span><span class="title_en">Technical</span></div>
        <div class="clearfix"></div>
      </div>
      <ul class="sright_3_nr">{% for post in site.categories["technical"] limit:6 %}
        <li><a href="{{ site.url }}{{ post.url }}" class="fl">{{ post.title }}</a><span class="fr">[{{ post.date | date:"%Y-%m-%d" }}]</span></li>{% endfor %}
      </ul>
    </div>
  </div>
</div>