<div class="form_area sp single_page grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 form_h">
        <div class="contact_form">
          <form role="form" action="{{ site.oswweb-mail-url }}/bristargroup-com-au-career-feedback.php" method="POST">
            <div class="form-group clearfix"><p>Your name*</p><input type="text" placeholder="Enter your full name" name="fullname"></div>
            <div class="form-group clearfix"><p>Email address*</p><input type="email" placeholder="eg: john@email.com" name="email"></div>
            <div class="form-group clearfix"><p>Phone number</p><input type="tel" placeholder="eg: +617 3345 7208" name="phone"></div>
            <div class="form-group clearfix">
              <p>Job</p>
              <select class="wide" name="job">
                <option value="" data-display="Select">Select</option>{% for post in site.categories["career"] %}
                <option value="{{ post.title }}">{{ post.title }}</option>{% endfor %}
              </select>
            </div>
            <div class="form-group clearfix"><p>Message</p><textarea name="xinxi" placeholder="Write your message"></textarea></div>
            <div class="form-group clearfix"><button type="submit" class="button hvr-bounce-to-right"><i class="fa fa-long-arrow-right"></i> Send message</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>